body {
  padding: 10px;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

.icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: clamp(400px, 80vw, 1200px);
  margin: auto;
  justify-content: center;
}

#classDiv {
  width: 500px;
  height: 80px;
  border-radius: 5%;
  background-color: rgb(0, 97, 97);
  color: white;
  text-decoration: none;
  width: 125px;
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  margin: 1rem;
}

.App-header {
  background-color: black;
  min-height: 3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

